#navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 6rem;

  a, button {
    margin-top: 1rem;

    &.active {
      box-shadow: 3px 4px 10px 1px rgba(0, 0, 0, 0.75);
    }
  }
}

