.match {
  display: flex;
  width: calc(100vw - 7rem);
  height: 99vh;
  align-items: center;

  .player {
    width: 50%;
    height: 100%;
    cursor: pointer;
  }

  @media (orientation: portrait) {
    flex-direction: column;
    align-content: center;

    .player {
      height: 50%;
      width: 100%;
    }
  }
}
