<mat-card class="media-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="api + '/p?id=' + 7" [alt]="'asdf'">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="rateClicked(7)" color="primary">RATE</button>
    <button mat-raised-button (click)="likeClicked(7)" color="accent">LIKE</button>
    <button mat-stroked-button (click)="dislikeClicked(7)" color="warn">DISLIKE</button>
  </mat-card-actions>
</mat-card>
