<mat-spinner class="centered" *ngIf="loading"></mat-spinner>
<div class="centered" *ngIf="empty">
  <h1>Oh noes!</h1>
  <h2>No results for your search</h2>
  <button mat-raised-button color="primary" (click)="resetFormFilter()">RESET FILTER</button>
</div>

<div class="inspector">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Filter controls</mat-card-title>
      <mat-card-subtitle>Change controls and see what you get</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Sort order</mat-label>
        <mat-select [formControl]="sortOrderCtrl">
          <mat-option *ngFor="let food of sortOrderOptions" [value]="food.id">
            {{food.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Path should contain</mat-label>
        <input matInput placeholder="Italy 2018 climbing" [formControl]="pathCtrl">
        <mat-hint>Use space to match multiple words</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Lower rating</mat-label>
        <input matInput placeholder="0" [formControl]="lowerRatingCtrl">
        <mat-hint>Lowest rating to show (inclusive)</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Upper rating</mat-label>
        <input matInput placeholder="0" [formControl]="upperRatingCtrl">
        <mat-hint>Highest rating to show (inclusive)</mat-hint>
      </mat-form-field>

      <button mat-stroked-button (click)="resetFormFilter()">Reset filter</button>

    </mat-card-content>

    <mat-card-actions>
      <button mat-button color="primary" (click)="previousPageClicked()" [disabled]="pageCtrl.value == 0">Previous
        page
      </button>
      <button mat-mini-fab (click)="resetPage()" color="primary"
              matTooltip="Go back to page 0">{{pageCtrl.value}}</button>
      <button mat-button color="primary" (click)="nextPageClicked()">Next page</button>
    </mat-card-actions>
  </mat-card>

  <image-details *ngFor="let i of (result$ | async)?.Pictures" [id]="i.id"></image-details>
</div>
